# Credentials & Secrets
passwords/
.passwords/
.env

# Python Environments
.venv/
venv/
env/

# Python Compilation
__pycache__/
*.py[cod]
*$py.class

# dbt Artifacts
target/
dbt_packages/
dbt_modules/
logs/
dbt/profiles.yml

# Airflow
airflow.db
airflow.cfg
webserver_config.py
airflow-webserver.pid
logs/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Tooling
.pytest_cache/
.mypy_cache/